<div class="container mt-4">
  <div class="row">
    <!-- Filter Section -->
    <div class="col-md-3">
      <app-product-filter [categories]="categories"></app-product-filter>
    </div>

    <!-- Products List -->
    <div class="col-md-9">
      <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-primary"></div>
        <p>Loading products...</p>
      </div>

      <div class="row">
        <div *ngFor="let product of products" class="col-lg-4 col-md-6 mb-4">
          <app-product-card 
            [product]="product"
            (addToCart)="addToCart($event)">
          </app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>