.hero-carousel {
  background-color: #111;
  position: relative;
  overflow: hidden;

  .btn-mint {
    background-color: #62D0B6;
    color: white;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }

  .carousel-control-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-indicators {
    bottom: 10px;

    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #62D0B6;
      opacity: 0.3;
      margin: 0 4px;
    }

    .active {
      opacity: 1;
    }
  }
}


.btn-ecommerce{
    border: 1px solid #62D0B6;
    color: #62D0B6;
}

.category-bubble {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.category-bubble:hover {
  background-color: #62D0B6;
  color: white;
}
